gunicorn==19.9.0
Flask==0.10.1
fuzzywuzzy==0.15.1
pytz==2015.6
requests==2.8.0
requests-oauthlib==0.6.0
shove==0.6.6
simplejson==3.8.1
six==1.10.0
Jinja2==2.8
MarkupSafe==0.23
APScheduler==3.0.0
Keras==2.1.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
gensim==3.4.0
scipy==1.1.0
nltk==3.2.1
numpy==1.14.5
tensorflow==1.10.1
